@font-face {
    font-family: 'NeoSans';
    src: url('../fonts/NeoSans.otf') format('opentype'); 
}
@font-face {
    font-family: 'NeoSans-bold';
    src: url('../fonts/NeoSans-Bold.otf') format('opentype'); 
}
@font-face {
    font-family: 'themixbold';
    src: url('../fonts/themixbold.otf') format('opentype'); 
}
@font-face {
    font-family: 'DINM';
    src: url('../fonts/DINM.ttf') format('truetype'); 
}
@font-face {
    font-family: 'DIN';
    src: url('../fonts/DIN.ttf') format('truetype'); 
}
@font-face {
    font-family: 'mixBold';
    src: url('../fonts/mixBold.otf') format('opentype'); 
}


/* body{
   
    
 background : -moz-linear-gradient(50% 100% 90deg,rgba(186, 219, 97, 0.4) 0%,rgba(197, 225, 119, 0.39) 4.49%,rgba(210, 233, 146, 0.37) 11.33%,rgba(221, 239, 168, 0.34) 19.2%,rgba(229, 243, 185, 0.31) 28.4%,rgba(235, 247, 196, 0.28) 39.76%,rgba(238, 248, 203, 0.23) 55.72%,rgba(239, 249, 205, 0.1) 100%) repeat fixed 0 0 rgba(0, 0, 0, 0);
	background : -webkit-linear-gradient(90deg, rgba(186, 219, 97, 0.4) 0%, rgba(197, 225, 119, 0.39) 4.49%, rgba(210, 233, 146, 0.37) 11.33%, rgba(221, 239, 168, 0.34) 19.2%, rgba(229, 243, 185, 0.31) 28.4%, rgba(235, 247, 196, 0.28) 39.76%, rgba(238, 248, 203, 0.23) 55.72%, rgba(239, 249, 205, 0.1) 100%) repeat fixed 0 0 rgba(0, 0, 0, 0);
	background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(186, 219, 97, 0.4) ),color-stop(0.0449,rgba(197, 225, 119, 0.39) ),color-stop(0.1133,rgba(210, 233, 146, 0.37) ),color-stop(0.192,rgba(221, 239, 168, 0.34) ),color-stop(0.284,rgba(229, 243, 185, 0.31) ),color-stop(0.3976,rgba(235, 247, 196, 0.28) ),color-stop(0.5572,rgba(238, 248, 203, 0.23) ),color-stop(1,rgba(239, 249, 205, 0.1) )) repeat fixed 0 0 rgba(0, 0, 0, 0);
	background : -o-linear-gradient(90deg, rgba(186, 219, 97, 0.4) 0%, rgba(197, 225, 119, 0.39) 4.49%, rgba(210, 233, 146, 0.37) 11.33%, rgba(221, 239, 168, 0.34) 19.2%, rgba(229, 243, 185, 0.31) 28.4%, rgba(235, 247, 196, 0.28) 39.76%, rgba(238, 248, 203, 0.23) 55.72%, rgba(239, 249, 205, 0.1) 100%) repeat fixed 0 0 rgba(0, 0, 0, 0);
	background : -ms-linear-gradient(90deg, rgba(186, 219, 97, 0.4) 0%, rgba(197, 225, 119, 0.39) 4.49%, rgba(210, 233, 146, 0.37) 11.33%, rgba(221, 239, 168, 0.34) 19.2%, rgba(229, 243, 185, 0.31) 28.4%, rgba(235, 247, 196, 0.28) 39.76%, rgba(238, 248, 203, 0.23) 55.72%, rgba(239, 249, 205, 0.1) 100%) repeat fixed 0 0 rgba(0, 0, 0, 0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#BADB61', endColorstr='#EFF9CD' ,GradientType=0)";
	background : linear-gradient(0deg, rgba(186, 219, 97, 0.4) 0%, rgba(197, 225, 119, 0.39) 4.49%, rgba(210, 233, 146, 0.37) 11.33%, rgba(221, 239, 168, 0.34) 19.2%, rgba(229, 243, 185, 0.31) 28.4%, rgba(235, 247, 196, 0.28) 39.76%, rgba(238, 248, 203, 0.23) 55.72%, rgba(239, 249, 205, 0.1) 100%) repeat fixed 0 0 rgba(0, 0, 0, 0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFF9CD',endColorstr='#BADB61' , GradientType=0); 
    margin: 0;
    padding: 0;
} */
.overlay-holder1 {
position: fixed;
top: 80px;
opacity: 0;
width:100%;
z-index: 15;
}
ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}
img {
    display:block;
}
h1, h3 {
    margin:0;
}
.page-container {
    position:relative;
    width:100%;
    z-index: 1;
}
.content-holder {
   background : linear-gradient(0deg, rgba(186, 219, 97, 0.8) 0%, rgba(207, 231, 139, 0.6) 34.55%, rgba(230, 244, 187, 0.34) 78.21%, rgba(239, 249, 205, 0.2) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background : -webkit-linear-gradient(90deg, rgba(186, 219, 97, 0.8) 0%, rgba(207, 231, 139, 0.6) 34.55%, rgba(230, 244, 187, 0.34) 78.21%, rgba(239, 249, 205, 0.2) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(186, 219, 97, 0.8) ),color-stop(0.3455,rgba(207, 231, 139, 0.6) ),color-stop(0.7821,rgba(230, 244, 187, 0.34) ),color-stop(1,rgba(239, 249, 205, 0.2) )) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background : -o-linear-gradient(90deg, rgba(186, 219, 97, 0.8) 0%, rgba(207, 231, 139, 0.6) 34.55%, rgba(230, 244, 187, 0.34) 78.21%, rgba(239, 249, 205, 0.2) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background : -ms-linear-gradient(90deg, rgba(186, 219, 97, 0.8) 0%, rgba(207, 231, 139, 0.6) 34.55%, rgba(230, 244, 187, 0.34) 78.21%, rgba(239, 249, 205, 0.2) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#BADB61', endColorstr='#EFF9CD' ,GradientType=0)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFF9CD',endColorstr='#BADB61' , GradientType=0); 
    position: absolute;
    width: 100%;
}
/* slider - start */
.cb-slideshow {
    height: 100%;
    left: 0;
    list-style: none outside none;
    margin: 0;
    opacity: 0.2;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}
.cb-slideshow li span {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    color:transparent;
    background-size:100% auto;
    background-repeat:no-repeat;
    opacity:0;
    z-index:0;
}
.cb-slideshow li:nth-child(1) span{
	background-image:url("../images/slider/image1.jpg");
	opacity:1;
}
.cb-slideshow li:nth-child(2) span{
	background-image:url("../images/slider/image2.jpg");
}
.cb-slideshow li:nth-child(3) span{
	background-image:url("../images/slider/image3.jpg");
}
.cb-slideshow li:nth-child(4) span{
	background-image:url("../images/slider/image4.jpg");
}
.cb-slideshow li:nth-child(5) span{
	background-image:url("../images/slider/image5.jpg");
}
.cb-slideshow li:nth-child(6) span{
	background-image:url("../images/slider/image6.jpg");
}
.cb-slideshow li:nth-child(7) span{
	background-image:url("../images/slider/image7.jpg");
}
/* slider - end */
.container{
    position: relative;
    width: 100%;
}
.home-block {
    margin: 70px 0 0;
    text-align: center;
}
.home-block .logo {
    margin: 0 auto;
    padding: 0 0 70px;
    width:330px;
    overflow: hidden;
}
.home-block .logo .image,
.home-block .logo h1 {
    float:left;
}
.home-block .logo .image {
    background: url('../images/big-logo.png') no-repeat scroll 0 0 rgba(0,0,0,0);
    height: 152px;
    width: 152px;
}
.home-block .logo h1 {
    color: #76bf4f;
    font-size: 50px;
    font-family: 'NeoSans-bold';
    font-weight: bold;
    line-height: 54px;
    margin: 0 0 0 18px;
    text-align: left;
}
.home-block h3 {
    color: #76bf4f;
    font-family: 'NeoSans';
    font-size:32px;
}
.home-block .loginButton {
    background: url("../images/facebook-login.png") no-repeat scroll 0 0 #eff9cd;
    box-shadow: 8px 5px 0 #76bf4f;
    color: #76bf4f;
    cursor: pointer;
    font-family: "NeoSans";
    font-size: 30px;
    height: 52px;
    margin: 150px auto 30px;
    padding: 30px 0 0 82px;
    width: 352px;
}
.travel-form {
    color: #687064;
    font-family: "NeoSans";
    font-size: 30px;
    line-height: 36px;
    margin: 35px  auto 0;
}
.travel-form .button-holder {
    margin: 12px 0 0;
    text-align: center;
}
.travel-form input[type="button"] {
    background-color: #76bf4f;
    border: medium none;
    color: #eff9cd;
    cursor: pointer;
    font-family: "mixBold";
    font-size: 26px;
   padding: 12px 48px;
   
}
.travel-form input[type="button"]:hover {
    opacity: 0.8;
}
.travel-form input[type="text"] {
    background-color: rgba(0,0,0,0);
    border: medium none;
    border-bottom: 1px solid #687064;
    color: #90978c;
    font-size: 26px;
}
.travel-form input.other[type="text"] {
    width: 100%;
}
.travel-form input.date[type="text"] {
    width: 160px;
}
.travel-form input.food[type="text"] {
    width: 80px;
}
.header {
    background-color: #92c17c;
    height: 62px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.header .menu {
    background: url("../images/backbutton.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
cursor: pointer;
float: left;
height: 30px;
margin: 15px 0 0 27px;
width: 23px;
}
.header .user {
    float: right;
    margin: 4px 27px 0 0;
    overflow: hidden;
}
.header .user > div {
    float:left;
}
.header .user .profile-name {
    color: #eff9cd;
    font-family: "DIN";
    font-size: 18px;
    padding: 16px 16px 0 0;
}
.header .user .profile-image {
    background-color: #eff9cd;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.hotel-list {
    margin:0 auto 50px;
    width:100%;
}
.hotel-list > li {
    margin: 40px 0 10px 0;
    overflow: hidden;
}
.hotel-list > li .image {
    cursor: pointer;
    float: left;
    overflow: hidden;
    position: relative;
    width: 300px;
}
.hotel-list > li .image img {
    height: 210px;
    transform: scale(1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    -webkit-transform: scale(1);
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;
}
.hotel-list > li .image:hover img {
    transform: scale(1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    -webkit-transform: scale(1.1);
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;
}
.hotel-list > li .image .priority {
    background-color: rgba(0, 0, 0, 0.7);
bottom: 0;
color: #eff9cd;
font-family: "DIN";
font-size: 14px;
padding: 0px 30px;
position: absolute;
text-transform: uppercase;
width: 300px;
min-height: 30px;
}
.hotel-list > li .details {
    color: #687064;
    float: left;
    font-family: "NeoSans";
    margin: 0 0 0 20px;
    width: 720px;
}
.hotel-list .details .title-holder {
    margin: 13px 0 0 20px;
}
.hotel-list .details .title-holder h3 {
  font-size: 18px;
font-family: mixBold;
    line-height: 0.2;
}
.hotel-list .details .title-holder .address {
   font-size: 14px;
    line-height: 1;
}
.review-holder {
    height: 96px;
    margin: 20px 0 0 20px;
    overflow: hidden;
    position: relative;
    width: 700px;
}
.review-holder > ul {
    position: absolute;
    width: 3500px;
}
.review-holder > ul > li {
    float:left;
    width: 700px;
}
.review-holder .review-user {
    float:left;
    height: 100px;
    width: 64px;
}
.review-holder .review,
.review-holder .review-full-view {
float: left;
font-size: 15px;
line-height: 20px;
margin: 0 0 22px 20px;
width: 614px;
font-family: DIN;
}
.review-holder .review-user .photo {
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 2px solid #92c17c;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.review-holder .review-user .user-info {
    font-size: 12px;
    margin: 10px 0 0;
    position: absolute;
    font-family: DIN;
}
.hotel-list li .details .bubble-holder {
    text-align: center;
    line-height: 0.6;
}
.hotel-list li .details .bubble-holder .bubble {
    margin: 0 auto 5px;
    overflow: hidden;
    width: 100px;
}
.hotel-list li .details .bubble-holder .bubble li {
    border: 1px solid #000;
    border-radius: 50%;
    float: left;
    height: 10px;
    margin: 0 10px 0 0;
    width: 10px;
}
.hotel-list li .details .bubble-holder .bubble li:last-child {
    margin: 0;
}
.hotel-list li .details .bubble-holder .bubble li.selected,
.hotel-list li .details .bubble-holder .bubble li:not(.selected):hover{
    background-color: #7cbc63;
    border: 1px solid #7cbc63;
}
.hotel-list li .details .bubble-holder .bubble li:not(.selected) {
    cursor: pointer;
}
.hotel-list li .details .bubble-holder .label {
    font-size: 12px;
}
.hotel-list .foot {
    font-size: 12px;
    margin: 40px 0 0;
}
.hotel-list .foot .label,
.hotel-list .foot .graph-holder {
    float:left;
}
.hotel-list .foot .label {
 padding: 22px 15px 0 0;
font-family: DINM;
font-size: 14px;
}
.hotel-list .foot .graph-holder {
    width: 400px;
}
.hotel-list .foot .graph-holder > ul > li {
    float:left;
    text-align: center;
    width: 80px;
    font-family: DINM;
font-size: 14px;
}
.hotel-list .foot .graph-holder .graph {
    background-color: #cce5c1;
    overflow: hidden;
}
.hotel-list .foot .graph-holder .graph li {
    height:44px;
    cursor: pointer;
    position:relative;
}
.hotel-list .foot .graph-holder .graph li .bar {
    background-color: #687064;
    width:100%;
    position:absolute;
    bottom:0;
}
.hotel-list .foot .graph-holder .graph li:hover .bar {
    background-color: #92c17c;
}
.hotel-list .foot .graph-holder .graph-label {
    margin:5px 0 0 0;
}
.hotel-list .foot input[type="button"] {
background-color: #76bf4f;
border: medium none;
color: #eff9cd;
cursor: pointer;
float: right;
font-size: 18px;
padding: 3px 40px;
font-family: mixBold;
}
.hotel-list .foot input[type="button"]:hover {
    opacity: 0.8;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.overlay-holder {
    position: fixed;
    top: 80px;
    opacity: 0;
    width: 800px;
    z-index: 15;
}
/* image carousel - start */
.simple-carousel{
	overflow:hidden;
	position:relative;
	width:100%;
    margin: 0 0 30px 0;
    max-height: 500px;
}
.simple-carousel ul.item-list{
	left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1740px;
}
.simple-carousel ul.item-list li{
	float:left;
	list-style: none outside none;
	padding:0;
	margin:0;
	overflow: hidden;
	position:relative;
	width:870px;
	text-align:center;
}
.simple-carousel ul.item-list li img {
    width: 100%;
}
.simple-carousel .nav-button{
    background: url("../images/carousel-arrow-sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 50px;
    position: absolute;
    top: 25px;
    width: 50px;
}
.simple-carousel .nav-button.prev{
	background-position: 0 0;
	left:25px;
}
.simple-carousel .nav-button.next{
	background-position: 0 -60px;
	right:25px;
}
/* image carousel - end */
.header .title {
color: #eff9cd;
float: left;
font-family: "NeoSans";
font-size: 28px;
text-align: center;
padding: 17px 0px 0px 34%;
}
#revulize-content .attributes {
    background-color: #fdfefa;
    float: left;
    font-family: "NeoSans";
    width: 260px;
    position: fixed;
  overflow-y: scroll;
height: 900px;
}
#revulize-content h2,
#revulize-content .rank-list li,
#revulize-content .attributes .rank{
    color:#687064;
    font-size:20px;
    font-family: "NeoSans";
    font-weight: bold;
    text-align: center;
}
#revulize-content .attributes .rank {
    position: relative;
}
#revulize-content .attributes .rank .selection {
    border-bottom: 1px solid #92c17c;
    padding: 10px 0;
    cursor: pointer;
}
#revulize-content h2 {
    border-bottom: 1px solid #92c17c;
    margin: 0;
    padding:18px 0;
}
#revulize-content .other-attr h2 {
    border-top: 1px solid #92c17c;
}
#revulize-content .choice-list li,
#revulize-content .attr-list li {
    border-bottom: 1px solid #92c17c;
    font-size: 16px;
    padding: 12px 0 10px 20px;
}
#revulize-content .attributes .choices {
    margin: 0 0 80px;
}
#revulize-content .rank-list {
    background-color: white;
    border-bottom: 1px solid #92c17c;
    display: none;
    position: absolute;
    top: -57px;
    width: 260px;
    z-index: 1;
}
#revulize-content .rank-list li {
    padding: 10px 0;
}
#revulize-content .attributes ul li {
    position:relative;
}
#revulize-content .attributes ul li span,
#revulize-content .attributes .rank .down-arrow{
    background-image: url("../images/revulize-sprite.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    right: 0;
    top: 9px;
    width: 36px;
}
#revulize-content .attributes ul.rank-list li span {
    background-position: 0 -78px;
    display:none;
}
#revulize-content .attributes ul.rank-list li.selected span {
    display: inline;
}
#revulize-content .attributes ul.attr-list li span {
    background-position: 0 -57px;
}
#revulize-content .rank-list li {
    cursor: pointer;
}
#revulize-content .attributes .rank .down-arrow {
    background-position: 0 -24px;
}
#revulize-content .review-list {
    border-left: 1px solid #b3b7af;
    float: left;
    font-family: "NeoSans";
    width: 900px;
    position: relative;
    left: 260px;
}
.review-list li {
    border-bottom:1px solid #92c17c;
}
.review-list .review-holder {
    height: auto;
  margin: 35px 0 -12px 90px;
}
.review-list .review {
    cursor: pointer;
}
.review-list .review-full-view {
    cursor: pointer;
    display:none;
}
.sticky {
    position:fixed;
    z-index: 3;
}
.stretch {
    width:100%;
}
.stretch.sticky {
    background-color: #ced3cb;
    padding: 0 0 10px;
    top: -330px;
}
.stretch.sticky .button-holder,
.stretch.sticky .travel-form input.other[type="text"] {
    display:none;
}
.stretch.sticky-shadow {
    margin: 106px 0 0;
}
#hotel-list-holder {
    margin: 0 auto;
    padding: 20px 0 0;
    width: 1040px;
}
#revulize-content .other-attr {
    margin: 0 0 80px;
}
#revulize-content .review-holder .review-user .user-info {
    width: 80px;
}
#revulize-content .review-holder .review-user {
    height: 130px;
}
#revulize-content .choice-list li {
    cursor: pointer;
}
.choices {
    margin-top: 100px;
}



/***********************************FORM HTML FILE CSS********************************/
 #tags{
       width: 126px;
    }
    .loader{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('images/page-loader1.gif') 50% 50% no-repeat rgb(249,249,249);
    }
    .ui-menu .ui-menu-item {
        color: #FFF;
        font-size: 24px;
    }
    .ui-menu .ui-menu-item:hover,.ui-menu .ui-menu-item:active {
        background: rgba(0,0,0,0.05);
        border-color: transparent;
    }
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #92c17c;
    }
    input:-moz-placeholder, textarea:-moz-placeholder {
        color: #92c17c;
        opacity: 1;
    }
    .ui-autocomplete {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    html .ui-autocomplete {
        height: 400px;
    }
   /***********************************FORM HTML FILE CSS eND********************************/