body {
    background-color: #E96D65
}

@font-face {
    font-family: 'NeoSans';
    src: url('../fonts/NeoSans/NeoSans-Bold.otf') format('opentype'); 
}
@font-face {
    font-family: 'TheMix';
    src: url('../fonts/themixfont/TheMix-4-SemiLight.otf') format('opentype'); 
 }
        