@charset "utf-8";
	.x3C_fullbutton_x3E_
{
	background-image : url(x3C_fullbutton_x3E_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 358px;
	top : 541px;
	width : 502px;
	height : 99px;
}
