@font-face {
    font-family: 'NeoSans';
    src: url('../fonts/NeoSans.otf') format('opentype'); 
}
@font-face {
    font-family: 'NeoSans-bold';
    src: url('../fonts/NeoSans-Bold.otf') format('opentype'); 
}
body{
    background : linear-gradient(0deg, rgba(186, 219, 97, 0.8) 0%, rgba(207, 231, 139, 0.6) 34.55%, rgba(230, 244, 187, 0.34) 78.21%, rgba(239, 249, 205, 0.2) 100%) repeat fixed 0 0 rgba(0, 0, 0, 0);
    background : -webkit-linear-gradient(90deg, rgba(186, 219, 97, 0.8) 0%, rgba(207, 231, 139, 0.6) 34.55%, rgba(230, 244, 187, 0.34) 78.21%, rgba(239, 249, 205, 0.2) 100%) repeat fixed 0 0 rgba(0, 0, 0, 0);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(186, 219, 97, 0.8) ),color-stop(0.3455,rgba(207, 231, 139, 0.6) ),color-stop(0.7821,rgba(230, 244, 187, 0.34) ),color-stop(1,rgba(239, 249, 205, 0.2) )) repeat fixed 0 0 rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}
ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}
img {
    display:block;
}
h1, h3 {
    margin:0;
}
.page-container {
    position:relative;
    width:100%;
    z-index: 1;
}
.content-holder {
    background : linear-gradient(0deg, rgba(186, 219, 97, 0.8) 0%, rgba(207, 231, 139, 0.6) 34.55%, rgba(230, 244, 187, 0.34) 78.21%, rgba(239, 249, 205, 0.2) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background : -webkit-linear-gradient(90deg, rgba(186, 219, 97, 0.8) 0%, rgba(207, 231, 139, 0.6) 34.55%, rgba(230, 244, 187, 0.34) 78.21%, rgba(239, 249, 205, 0.2) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(186, 219, 97, 0.8) ),color-stop(0.3455,rgba(207, 231, 139, 0.6) ),color-stop(0.7821,rgba(230, 244, 187, 0.34) ),color-stop(1,rgba(239, 249, 205, 0.2) )) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background : -o-linear-gradient(90deg, rgba(186, 219, 97, 0.8) 0%, rgba(207, 231, 139, 0.6) 34.55%, rgba(230, 244, 187, 0.34) 78.21%, rgba(239, 249, 205, 0.2) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background : -ms-linear-gradient(90deg, rgba(186, 219, 97, 0.8) 0%, rgba(207, 231, 139, 0.6) 34.55%, rgba(230, 244, 187, 0.34) 78.21%, rgba(239, 249, 205, 0.2) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#BADB61', endColorstr='#EFF9CD' ,GradientType=0)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFF9CD',endColorstr='#BADB61' , GradientType=0);
    position: absolute;
    width: 100%;
}
/* slider - start */
.cb-slideshow {
    height: 100%;
    left: 0;
    list-style: none outside none;
    margin: 0;
    opacity: 0.2;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}
.cb-slideshow li span {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    color:transparent;
    background-size:100% auto;
    background-repeat:no-repeat;
    opacity:0;
    z-index:0;
}
.cb-slideshow li:nth-child(1) span{
	background-image:url("../images/slider/image1.jpg");
	opacity:1;
}
.cb-slideshow li:nth-child(2) span{
	background-image:url("../images/slider/image2.jpg");
}
.cb-slideshow li:nth-child(3) span{
	background-image:url("../images/slider/image3.jpg");
}
.cb-slideshow li:nth-child(4) span{
	background-image:url("../images/slider/image4.jpg");
}
.cb-slideshow li:nth-child(5) span{
	background-image:url("../images/slider/image5.jpg");
}
.cb-slideshow li:nth-child(6) span{
	background-image:url("../images/slider/image6.jpg");
}
.cb-slideshow li:nth-child(7) span{
	background-image:url("../images/slider/image7.jpg");
}
/* slider - end */
.container{
    margin: 0 auto;
    position: relative;
    width: 1040px;
}
.home-block {
    margin: 70px 0 0;
    text-align: center;
}
.home-block .logo {
    margin: 0 auto;
    padding: 0 0 70px;
    width:330px;
    overflow: hidden;
}
.home-block .logo .image,
.home-block .logo h1 {
    float:left;
}
.home-block .logo .image {
    background: url('../images/big-logo.png') no-repeat scroll 0 0 rgba(0,0,0,0);
    height: 152px;
    width: 152px;
}
.home-block .logo h1 {
    color: #76bf4f;
    font-size: 50px;
    font-family: 'NeoSans-bold';
    font-weight: bold;
    line-height: 54px;
    margin: 0 0 0 18px;
    text-align: left;
}
.home-block h3 {
    color: #76bf4f;
    font-family: 'NeoSans';
    font-size:32px;
}
.home-block .loginButton {
    background: url("../images/facebook-login.png") no-repeat scroll 0 0 #eff9cd;
    box-shadow: 8px 5px 0 #76bf4f;
    color: #76bf4f;
    cursor: pointer;
    font-family: "NeoSans";
    font-size: 30px;
    height: 52px;
    margin: 150px auto 30px;
    padding: 30px 0 0 82px;
    width: 352px;
}
.travel-form {
    color: #687064;
    font-family: "NeoSans";
    font-size: 30px;
    line-height: 36px;
    margin: 140px auto 0;
    width: 720px;
}
.travel-form .button-holder {
    margin: 50px 0 0;
    text-align: center;
}
.travel-form input[type="submit"] {
    background-color: #76bf4f;
    border: medium none;
    color: #eff9cd;
    cursor: pointer;
    font-family: "NeoSans";
    font-size: 26px;
    padding: 15px 65px;
    text-transform: uppercase;
}
.travel-form input[type="text"] {
    background-color: rgba(0,0,0,0);
    border: medium none;
    border-bottom: 1px solid #687064;
    color: #90978c;
    font-size: 26px;
}
.travel-form input.other[type="text"] {
    width: 100%;
}
.travel-form input.date[type="text"] {
    width: 160px;
}
.travel-form input.food[type="text"] {
    width: 80px;
}
.header {
    background-color: #92c17c;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header .menu {
    background: url("../images/menu.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 27px;
    margin: 25px 0 0 27px;
    width: 36px;
}
.header .user {
    float: right;
    margin: 10px 27px 0 0;
    overflow: hidden;
}
.header .user > div {
    float:left;
}
.header .user .profile-name {
    color: #eff9cd;
    font-family: "NeoSans";
    font-size: 30px;
    padding: 10px 10px 0 0;
}
.header .user .profile-image {
    background-color: #eff9cd;
    border-radius: 50%;
    height: 56px;
    width: 56px;
}
.hotel-list {
    margin:0 auto 50px;
    width:100%;
}
.hotel-list > li {
    margin: 30px 0 10px 0;
    overflow: hidden;
}
.hotel-list > li .image {
    float: left;
    position: relative;
    width: 300px;
}
.hotel-list > li .image .priority {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #c1d9b7;
    font-family: "NeoSans";
    font-size: 10px;
    padding: 8px 30px;
    position: absolute;
    text-transform: uppercase;
    width: 240px;
}
.hotel-list > li .details {
    color: #687064;
    float: left;
    font-family: "NeoSans";
    margin: 0 0 0 20px;
    width: 720px;
}
.hotel-list .details .title-holder {
    margin: 0 0 0 20px;
}
.hotel-list .details .title-holder h3 {
    font-size: 24px;
}
.hotel-list .details .title-holder .address {
    font-size: 12px;
}
.hotel-list .details .description-holder {
    margin:35px 0 0 20px;
    overflow: hidden;
}
.hotel-list .details .description-holder .photo-holder {
    float:left;
    height: 100px;
    width: 64px;
}
.hotel-list .details .description-holder .description {
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 20px;
    width: 614px;
}
.hotel-list .details .description-holder .photo-holder .photo {
    border: 2px solid #92c17c;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.hotel-list .details .description-holder .photo-holder .location {
    font-size: 12px;
    margin: 10px 0 0;
    position: absolute;
}
.hotel-list li .details .bubble-holder {
    text-align: center;
}
.hotel-list li .details .bubble-holder .bubble {
    margin: 0 auto 5px;
    overflow: hidden;
    width: 100px;
}
.hotel-list li .details .bubble-holder .bubble li {
    border: 1px solid #000;
    border-radius: 50%;
    float: left;
    height: 10px;
    margin: 0 10px 0 0;
    width: 10px;
}
.hotel-list li .details .bubble-holder .bubble li:last-child {
    margin: 0;
}
.hotel-list li .details .bubble-holder .bubble li.selected {
    background-color: #7cbc63;
    border: 1px solid #7cbc63;
}
.hotel-list li .details .bubble-holder .label {
    font-size: 12px;
}
.hotel-list .foot {
    font-size: 12px;
    margin: 40px 0 0;
}
.hotel-list .foot .label,
.hotel-list .foot .graph-holder {
    float:left;
}
.hotel-list .foot .label {
    padding: 30px 15px 0 0;
}
.hotel-list .foot .graph-holder {
    width: 400px;
}
.hotel-list .foot .graph-holder > ul > li {
    float:left;
    text-align: center;
    width: 80px;
}
.hotel-list .foot .graph-holder .graph {
    background-color: #cce5c1;
    overflow: hidden;
}
.hotel-list .foot .graph-holder .graph li {
    height:44px;
    position:relative;
}
.hotel-list .foot .graph-holder .graph li .bar {
    background-color: #687064;
    width:100%;
    position:absolute;
    bottom:0;
}
.hotel-list .foot .graph-holder .graph li.selected .bar {
    background-color: #92c17c;
}
.hotel-list .foot .graph-holder .graph-label {
    margin:5px 0 0 0;
}
.hotel-list .foot input[type="button"] {
    background-color: #76bf4f;
    border: medium none;
    color: #eff9cd;
    cursor: pointer;
    float: right;
    font-size: 18px;
    padding: 10px 40px;
    text-transform: uppercase;
}