<li>
    <div class="image">
        <img src="{{default-image}}" width="300" alt="" data-img="{{image-list}}" />
        <div class="priority">high match</div>
    </div>
    <div class="details">
        <div class="title-holder">
            <h3>{{hotel-name}}</h3>
            <span class="address">{{hotel-address}}</span>
        </div>
        <div class="review-holder">
            <ul>
                {{review-list}}
            </ul>
        </div>
        <div class="bubble-holder">
            <ul class="bubble">
                <li class="selected"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <span class="label">Closest review matches</span>
        </div>
        <div class="foot" data-valueofhotel="{{perc-index0}}">
            <div class="label">Attributes</div>
            <div class="graph-holder">
                <ul class="graph">
                    <li class="awesome" data-perc="{{perc-awesome}}" id="awesome" data-valueofhotel="{{perc-index}}">
                        <div class="bar"></div>
                    </li>
                    <li class="good selected" data-perc="{{perc-good}}" id="good" data-valueofhotel="{{perc-index1}}">
                        <div class="bar"></div>
                    </li>
                    <li class="ok" data-perc="{{perc-ok}}" id="ok" data-valueofhotel="{{perc-index2}}">
                        <div class="bar"></div>
                    </li>
                    <li class="bad" data-perc="{{perc-bad}}" id="bad" data-valueofhotel="{{perc-index3}}" >
                        <div class="bar"></div>
                    </li>
                    <li class="worst" data-perc="{{perc-worst}}" id="worst" data-valueofhotel="{{perc-index4}}" >
                        <div class="bar"></div>
                    </li>
                </ul>
                <ul class="graph-label">
                    <li>Awesome</li>
                    <li>Good</li>
                    <li>OK</li>
                    <li>bad</li>
                    <li>Worst</li>
                </ul>
            </div>
            <div class="revulize-button">
            <a href="javascript:;">
                <input type="button" value="revulize" class="revulizeBtn" />
            </a>    
            </div>
            
        </div>
    </div>
</li>
