<div class="popup"> 
           <div class="cols">
               <div class="pHeader {{selectedClass1}}">
                   Awesome
               </div>
               <div class="pReview">
                   {{people4}}  people has spoken about <b>awesome</b> things <br/> in Matterhorn Focus
               </div>
               <ul class="pAttributes">
                   {{ListOfitems4}}
               </ul>
           </div>
             
                        <div class="cols">
               <div class="pHeader  {{selectedClass2}} ">
                   Good
               </div>
               <div class="pReview">
                        {{people3}} people has spoken about <b>good</b> things <br/>in Matterhorn Focus
               </div>
               <ul class="pAttributes ulAwesome">
                 {{ListOfitems3}}
               </ul>
           </div>
             
                        <div class="cols">
               <div class="pHeader  {{selectedClass3}}">
                   Ok
               </div>
               <div class="pReview">
                       {{people2}} people has spoken about <b>ok</b> things <br/> in Matterhorn Focus
               </div>
               <ul class="pAttributes ">
                      {{ListOfitems2}}
               </ul>
           </div>
             
                        <div class="cols">
               <div class="pHeader  {{selectedClass4}}">
                   Bad
               </div>
               <div class="pReview">
                       {{people1}} people has spoken about <b>Bad</b> things <br/> in Matterhorn Focus
               </div>
               <ul class="pAttributes">
                {{ListOfitems1}}
               </ul>
           </div>
             
                        <div class="cols">
               <div class="pHeader  {{selectedClass5}}">
                   Worst
               </div>
               <div class="pReview">
                      {{people0}} people has spoken about <b>Worst</b> things  <br/> in Matterhorn Focus
               </div>
               <ul class="pAttributes">
               {{ListOfitems0}}
               </ul>
           </div>
      </div>
