<div class="popup"> 
           <div class="cols">
               <div class="pHeader {{selectedClass1}}">
                   Awesome
               </div>
               <div class="pReview">
                   {{awesome_people}}  people have spoken about <b>awesome</b> things <br/> in Matterhorn Focus
               </div>
               <ul class="pAttributes">
                   {{awesome_values}}
               </ul>
           </div>
             
                        <div class="cols">
               <div class="pHeader  {{selectedClass2}} ">
                   Good
               </div>
               <div class="pReview">
                        {{good_people}} people have spoken about <b>good</b> things <br/>in Matterhorn Focus
               </div>
               <ul class="pAttributes ulAwesome">
                 {{good_values}}
               </ul>
           </div>
             
                        <div class="cols">
               <div class="pHeader  {{selectedClass3}}">
                   Ok
               </div>
               <div class="pReview">
                       {{ok_people}} people have spoken about <b>ok</b> things <br/> in Matterhorn Focus
               </div>
               <ul class="pAttributes ">
                      {{ok_values}}
               </ul>
           </div>
             
                        <div class="cols">
               <div class="pHeader  {{selectedClass4}}">
                   Bad
               </div>
               <div class="pReview">
                       {{bad_people}} people have spoken about <b>Bad</b> things <br/> in Matterhorn Focus
               </div>
               <ul class="pAttributes">
                {{bad_values}}
               </ul>
           </div>
             
                        <div class="cols">
               <div class="pHeader  {{selectedClass5}}">
                   Worst
               </div>
               <div class="pReview">
                      {{worst_people}} people have spoken about <b>Worst</b> things  <br/> in Matterhorn Focus
               </div>
               <ul class="pAttributes">
               {{worst_values}}
               </ul>
           </div>
      </div>
